@using ViewModels
@model List<SubmissionListViewModel>
@{
    ViewBag.Title = "Unpopular Opinions";
    Layout = "~/Views/Shared/Layout.cshtml";
    int i = 0;
}
@using Microsoft.AspNet.Identity
<head>
    <title>@ViewBag.Title</title>
</head>
<input type="hidden" id="userName" value="@ViewBag.userName" />
@foreach (SubmissionListViewModel submissionModel in Model)
{
    <div class="card">
        <div class="container">

            <div class="row">
                <div class="col-1">
                    <div class="btn-group-vertical">
                            <input type="image" class="img-fluid upvoteSubmission unpressed" id="@submissionModel.Id" src="~/Static/upvote-unpressed.png" alt="Upvote" />
                            <input type="image" class="img-fluid downvoteSubmission unpressed" id="@submissionModel.Id" src="~/Static/downvote-unpressed.png" alt="Downvote" />
                    </div>
                </div>
                <div class="col">
                    <h5 class="card-title">@submissionModel.Title</h5>
                    <h7 class="card-subtitle">Submitted by @submissionModel.AuthorName</h7>
                    <button class="btn btn-dark" onclick="window.location.href='@Url.Action("SubmissionDetails","Submission",new {id = submissionModel.Id})'">Comments</button>
                    @if(User.Identity.GetUserId()!=null && submissionModel.AuthorId == Guid.Parse(User.Identity.GetUserId()))
                    {
                        <button class="btn btn-dark edit" id="@submissionModel.Id">Edit</button>
                        <button class="btn btn-dark delete" id="@submissionModel.Id">Delete</button>
                    }
                    <button class="btn btn-light" data-toggle="collapse" href="#collapsible@(i)">
                        <img src="~/Static/collapsible.png" class="img-fluid" style="height:20px" />
                    </button>
                    <div class="collapse expanded-content border border-primary rounded" id="collapsible@(i)">
                        <p class="expanded-content-text">@submissionModel.Content</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    if (true)
    { i++; }
}
@section Links{
    <link href="~/Static/SubmissionListStyle.css" rel="stylesheet" />
    <script src="~/Static/SubmissionListScript.js"></script>
}
