
@{
    ViewBag.Title = "CommentDetails";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using ViewModels
@model CommentViewModel 
@using Microsoft.AspNet.Identity
<meta name="userId" id="userId" content="@User.Identity.GetUserId()"/>
<div class="container w75">


    <div class="card">
        <div class="container">

            <div class="row">
                <div class="col-1">
                    <div class="btn-group-vertical">
                        <form method="post" action="" class="btn">
                            <input type="image" class="img-fluid" src="~/Static/upvote-unpressed.png" alt="Upvote" />
                            <input type="image" class="img-fluid" src="~/Static/downvote-unpressed.png" alt="Downvote" />
                        </form>
                    </div>
                </div>
                <div class="col">
                    <h5 class="card-title">@Model.Text</h5>
                    <h7 class="card-subtitle">Submitted by @Model.AuthorName</h7>
                </div>
            </div>
        </div>

    </div>
    @if (Request.IsAuthenticated)
    {

    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#MakeComment">
        Comment
    </button>
    }
    else
    {
        <div>Log in to participate in the discussion.</div>
    }
</div>
<!-- Modal for reply -->
<div class="modal" tabindex="-1" role="dialog" id="MakeComment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your Comment:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div>
                
            <input type="hidden" id="parent" class="submissionParent" value="@Model.Id">
            <textarea rows="5" cols="50" name="Comment" id="Content"></textarea>
                

            </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" id="post-button">Save changes</button>
            </div>
        </div>
    </div>
</div>

    <div id="CommentsStart"><h3>Replies:</h3></div>
    @foreach (CommentViewModel commentModel in Model.Replies)
    {
        
        <div class="card AuthorIdHolder" id="@commentModel.AuthorId" >
            <div class="container">

                <div class="row">
                    <div class="col-1">
                        <div class="btn-group-vertical">
                            <form method="post" action="" class="btn">
                                <input type="image" class="img-fluid" src="~/Static/upvote-unpressed.png" alt="Upvote" />
                                <input type="image" class="img-fluid" src="~/Static/downvote-unpressed.png" alt="Downvote" />
                            </form>
                        </div>
                    </div>
                    <div class="col comment-content">
                        <h5 class="card-subtitle">@commentModel.Text</h5>
                        <h7 class="card-subtitle">Submitted by @commentModel.AuthorName</h7>
                        @if(Request.IsAuthenticated)
                        {
                            <button class="btn btn-dark reply" id="@commentModel.Id">Reply</button>
                        }
                        @if(commentModel.NrOfReplies>0)
                        {
                            <button class="btn btn-dark seereply" id="@commentModel.Id">See Replies</button>
                        }
                        @if(commentModel.AuthorId == Guid.Parse(User.Identity.GetUserId()))
                        {
                            <button class="btn btn-dark edit" id="@commentModel.Id">Edit</button>
                            <button class="btn btn-dark">Delete</button>
                        }
                        
                    </div>
                </div>

            </div>

        </div>
    }
    @section Links{
    <link href="~/Static/SubmissionDetails.css" rel="stylesheet" />
    <script src="~/Static/SubmissionDetails.js"></script>
    }
