
@{
    ViewBag.Title = "UserComments";
    Layout = "~/Views/Shared/Layout.cshtml";
    int i = 0;
}


@using ViewModels
@model UserCommentsViewModel 
@using Microsoft.AspNet.Identity


    <input type="hidden" id="userName" value="@ViewBag.userName" />
<!-- Toast for errors and confirmations -->
<div class="toast d-flex justify-content-center align-items-center" style="position: absolute; bottom: 0; right: 0;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto toast-title">Bootstrap</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body toast-message">
        Hello, world! This is a toast message.
    </div>
</div>

<!-- Modal for reply -->
<div class="modal" tabindex="-1" role="dialog" id="MakeComment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your Comment:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div>
                
            <input type="hidden" id="parent" class="submissionParent" value="@Model.Id">
            <textarea rows="5" cols="50" name="Comment" id="Content"></textarea>
                

            </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" id="post-button">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for edit -->
<div class="modal" tabindex="-1" role="dialog" id="MakeEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your Comment:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div>
                
            <textarea rows="5" cols="50" name="Comment" id="EditContent"></textarea>
                

            </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" id="put-button">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron-fluid">
    <h1>@Model.Name's comments:</h1>
    <button class="btn btn-dark" style="margin:5px" onclick="window.location.href='/User/UserSubmissions/'+'@Model.Id'+'?skipNrOfSubmissions=0'">Go to submissions</button>
</div>

    <div id="CommentsStart"></div>
    @foreach (CommentViewModel commentModel in Model.Comments)
    {
        
        <div class="card AuthorIdHolder" id="@commentModel.AuthorId" >
            <div class="container">

                <div class="row">
                    <div class="col-1">
                        <div class="btn-group-vertical">
                               <input type="image" class="img-fluid upvoteComment unpressed" id="@commentModel.Id" src="~/Static/upvote-unpressed.png" alt="Upvote" />
                               <input type="image" class="img-fluid downvoteComment unpressed" id="@commentModel.Id"  src="~/Static/downvote-unpressed.png" alt="Downvote" />
                        </div>
                    </div>
                    <div class="col comment-content">
                        <h5 class="card-subtitle commentText">@commentModel.Text</h5>
                        <h7 class="card-subtitle" onclick="window.location.href ='@Url.Action("UserSubmissions","User",new {id=commentModel.AuthorId,skipNrOfSubmissions=0})'">Submitted by @commentModel.AuthorName</h7>
                        @if(Request.IsAuthenticated)
                        {
                            <button class="btn btn-dark reply" id="@commentModel.Id">Reply</button>
                        }
                        @if(commentModel.NrOfReplies>0)
                        {
                            <button class="btn btn-dark seereply" id="@commentModel.Id" onclick="window.location.href='@Url.Action("CommentDetails","Comment",new { id = commentModel.Id })'">See Replies</button>
                        }
                        @if(User.Identity.GetUserId()!=null && commentModel.AuthorId == Guid.Parse(User.Identity.GetUserId()))
                        {
                             <button class="btn btn-dark edit" id="@commentModel.Id">Edit</button>
                            <button class="btn btn-dark delete" id="@commentModel.Id">Delete</button>
                        }
                        
                    </div>
                </div>

            </div>

        </div>
        if(true)
        {
            i++;
        }
    }
    @section Links{
    <link href="~/Static/SubmissionDetails.css" rel="stylesheet" />
    <script src="~/Static/SubmissionDetails.js"></script>
    }
