@using ViewModels
@model  UserSubmissionsViewModel
@{
    ViewBag.Title = "Unpopular Opinions";
    Layout = "~/Views/Shared/Layout.cshtml";
    int i = 0;
}
@using Microsoft.AspNet.Identity
<head>
    <title>@ViewBag.Title</title>
</head>
<div class="jumbotron-fluid">
    <h1>@Model.Name's submissions:</h1>

    <button class="btn btn-dark" style="margin:5px" onclick="window.location.href='/User/UserComments/'+'@Model.Id'+'?skipNrOfComments=0'">Go to comments</button>
</div>
<!-- Toast for errors and confirmations -->
<div class="toast d-flex justify-content-center align-items-center" style="position: absolute; bottom: 0; right: 0;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto toast-title">Bootstrap</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body toast-message">
        Hello, world! This is a toast message.
    </div>
</div>

<!-- Modal for edit -->
<div class="modal" tabindex="-1" role="dialog" id="MakeEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your Submission:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div>
                <h6 class="modal-title">Title:</h6> 
            <input name="Title" id="EditTitle" value=""  style="width:100%"/>
            <h6 class="modal-title">Content:</h6>
            <textarea rows="5" cols="50" name="Comment" id="EditContent"></textarea>
                

            </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" id="put-button">Save changes</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="userName" value="@ViewBag.userName" />
@foreach (SubmissionListViewModel submissionModel in Model.Submissions)
{
    <div class="card AuthorIdHolder" id="@submissionModel.AuthorId">
        <div class="container">

            <div class="row">
                <div class="col-1">
                    <div class="btn-group-vertical">
                            <input type="image" class="img-fluid upvoteSubmission unpressed" id="@submissionModel.Id" src="~/Static/upvote-unpressed.png" alt="Upvote" />
                            <input type="image" class="img-fluid downvoteSubmission unpressed" id="@submissionModel.Id" src="~/Static/downvote-unpressed.png" alt="Downvote" />
                    </div>
                </div>
                <div class="col">
                    <h5 class="card-title submission-title">@submissionModel.Title</h5>
                    <h7 class="card-subtitle">Submitted by @submissionModel.AuthorName</h7>
                    <button class="btn btn-dark" onclick="window.location.href='@Url.Action("SubmissionDetails","Submission",new {id = submissionModel.Id})'">Comments</button>
                    @if(User.Identity.GetUserId()!=null && submissionModel.AuthorId == Guid.Parse(User.Identity.GetUserId()))
                    {
                        <button class="btn btn-dark edit" id="@submissionModel.Id">Edit</button>
                        <button class="btn btn-dark delete" id="@submissionModel.Id">Delete</button>
                    }
                    <button class="btn btn-light" data-toggle="collapse" href="#collapsible@(i)">
                        <img src="~/Static/collapsible.png" class="img-fluid" style="height:20px" />
                    </button>
                    <div class="collapse expanded-content border border-primary rounded" id="collapsible@(i)">
                        <p class="expanded-content-text submission-content">@submissionModel.Content</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    if (true)
    { i++; }
}
@if(i>99)
{
    <button class="btn btn-dark" onclick="window.location.href='@Url.Action("UserSubmissions","User",new { id=Model.Id, skipNrOfSubmissions = ViewBag.skipNrOfSubmissions+100})'">Next Page</button>
}
@section Links{
    <link href="~/Static/SubmissionListStyle.css" rel="stylesheet" />
    <script src="~/Static/SubmissionListScript.js"></script>
}
